* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: raleway, sans-serif;
  font-weight: bold;
}

/*Header*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
}

figure {
  margin: 0 710px 0 0;
  display: flex;
  align-items: center;
}

.logo-header {
  width: 100px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.lista-header {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 40px;
}

.highlight {
  color: #0282F9;
}

.blue-underline {
  text-decoration: underline;
  text-underline-offset: 59px;
  text-decoration-thickness: 5px;
  text-decoration-color: #0282F9;

}

/*Main*/

.main-top {
  background-color: #1C1C1C;
  display: flex;
  align-items: center;
  padding: 60px 0 60px 0;
}

.main-bottom {
  background-color: #0282F9;
  display: flex;
  justify-content: center;
  height: 200px;
}

.text {
  color: #FFFBF2;
  font-size: 30px;
  margin-left: 450px;
}

/*ricordare questo per futuri esercizi*/
.Main-list {
  list-style-type: none;
  color: white;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.Main-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img-size {
  width: 70px;
  height: auto;
}

.Main-list span {
  font-size: 20px;
}

.locator-size {
  width: 50px;
}

/*Footer*/
/*ricordare per prossimi esercizi*/
.footer-top {
  display: flex;
  padding: 90px 0 90px 0px;
  background-image: url('public/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  flex-wrap: nowrap;

}

.footer-column {
  min-width: 170px;

}

.h5-color {
  color: #FFF9F0;
  font-size: 23px;
  margin-bottom: 20px;
}

.ul-settings {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #716A6F;

}

.ul-settings li {
  margin-bottom: 5px;
  font-size: 15px;
}

.ul-settings li:hover {
  color: #FFF;
  cursor: pointer;
}

.container-logo {
  position: relative;
}

.Logo-bg {
  overflow: hidden;
  position: absolute;
  top: -144px;
  left: 716px;
}

.footer-bottom {
  background-color: #303030;
  width: 100%;
  display: flex;
  position: fixed;
  height: 350px;

}

.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  border: solid 3px #0A74D7;
  display: inline-block;
  color: white;
  padding: 20px;
}

.list-footer-bottom {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.h2 {
  margin-top: 5px;
  color: #027DEA;
}