* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: raleway, sans-serif;
  font-weight: bold;
}

/*Header*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
}

figure {
  margin: 0 710px 0 0;
}

img {
  width: 100px;
  margin-top: 20px;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 40px;
}

.highlight {
  color: #0282F9;
}

.blue-underline {
  text-decoration: underline;
  text-underline-offset: 68px;
  text-decoration-thickness: 5px;
  text-decoration-color: #0282F9;

}